body {
	line-height: 1;
	margin: 0;
    font-family: 'Inter';
}

a {
	text-decoration: none;
}

button{
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
	font: inherit;
}

ul,
ol,
li {
	list-style: none;
}


/* ============================================== */

[class*=-container]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
@media (max-width: 1199.98px){
    [class*=-container]{
        max-width: 970px;
    }
}
@media (max-width: 990.98px){
    [class*=-container]{
        max-width: 750px;
    }
}
@media (max-width: 767.98px){
    [class*=-container]{
        max-width: none;
    }
}

/* ============================================== */
.wrapper{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* ============================================== */
.header {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 5vh;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 0px;
}
.header__logo{
    color: #3e8fda;
}
.header__account_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.notification_bell{
    width: 35px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
}
.account_control__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.account__image {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* ============================================== */
.menu__container{
    margin: 1rem;
    padding: 0.5rem;
    background-color: #0d7de6;
    border-radius: 5px;
}

.menu__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu__item{
    transition: all ease 0.5s;
}

.menu__item:hover{
    background-color: #0c65b9;
    border-radius: 10px;
}

.menu__item.selected{
    background-color: #0a569e;
    border-radius: 10px;
}

.menu__link{
    display: block;
    height: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

/* ============================================== */
.student_table{
    margin-left: 3vw;
    margin-right: 1vw;
}
.student_table__control{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.describe__heading {
    margin-bottom: 0;
    color: #101828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.descpibe__paragraph {
    margin-top: 0.5rem;
    color: #667085;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.table__add_student {
    background-color: #0070FF;
    display: flex;
    align-items: center; 
    padding: 8px 12px; 
    border-radius: 5px; 
    gap: 8px;
    margin: 10px;
}
.add_student_plus {
    width: 20px;
    height: 20px;
}
.add_student_describe {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}