html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; 
}

body {
	line-height: 1;
	margin: 0;
    font-family: 'Inter';
}

a {
	text-decoration: none;
}

button{
	padding: 0;
	border: none;
	background: none;
	text-decoration: none;
	font: inherit;
}

ul,
ol,
li {
	list-style: none;
}


/* ============================================== */
[class*=-container]{
    margin: 0 auto;
    padding: 0px 30px;
}
/* [class*=-container]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
} */
/* @media (max-width: 1199.98px){
    [class*=-container]{
        max-width: 970px;
    }
}
@media (max-width: 990.98px){
    [class*=-container]{
        max-width: 750px;
    }
} */
@media (max-width: 767.98px){
    [class*=-container]{
        padding: 0px 10px;
    }
}

/* ============================================== */
.wrapper{
    display: flex;
}


/* HEADER ============================================== */
.nav_burger{
    display: none;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px;
    
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFD;
}
.header__logo{
    color: #0d7de6;
}

/* NOTIFICATION --------------------------------- */
.account_control__notification{
    position: relative;
}
.notification_bell{
    width: 35px;
    padding: 0.5rem 0.7rem;
    border-radius: 15px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
.notification_bell:hover{
    background-color: #eeefff;
}

#notification_sign{
    position: absolute;
    background-color: #e60d0d;
    right: 10px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 5px;
}

.notification__messages{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    position: absolute;
    top: 100%;
    width: 15vw;
    min-width: 200px;
    max-width: 300px;
    background-color: #fff;
    border: #0d7de6 2px solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0.5rem;
    z-index: 100;
}

.notification__massage {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    background-color: #eeefff;
    transition: all 0.1s ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    cursor: pointer;
    gap: 0.5rem;
    margin-bottom: 5px
}
.message__icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #bbb;
}
.message__text {
    flex: 1;
}
.message_text__header {
    font-size: 1rem;
    margin: 5px 0px;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}
.message_text__text {
    font-size: 0.9rem;
    font-weight: 600;
    color: #667085;
    line-height: 1; /* 142.857% */
    margin: 0;
    font-weight: 400;
}

.account_control__notification:hover .notification__messages,
.notification__messages:hover {
    opacity: 1;
    visibility: visible;
}

/* ACCOUNT --------------------------------- */
.header__account_control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.account_control__user{
    position: relative;
}

.account_control__account{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
    background-color: #eeefff;
    padding: 0.5rem 0.7rem;
    border-radius: 25px;
    color: #0d7de6;
    font-weight: 500;
    cursor: pointer;
}
.account__image {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.account__avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.account_control__dropdown {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 80%;
    position: absolute;
    padding: 0.2rem;
    border: #eeefff 2px solid;
    background-color: #FFF;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}
.dropdown__item {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
    color: #667085;
    font-weight: 750;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 5px;
}
.dropdown__item:hover{
    background-color: #eeefff;
}
.dropdown__icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.account_control__user:hover .account_control__dropdown,
.account_control__dropdown:hover {
    opacity: 1;
    visibility: visible;
}
/* ============================================== */
aside{
    padding: 0;
    margin: 0;
}
.menu__container{
    top: 0;
    background-color: #0d7de6;
    position: sticky;
    border-radius: 5px;
    height: 100vh;
    padding-left: 0;
    padding: 5px 1em;
    align-self: start;
    overflow: hidden;
    text-wrap: nowrap;
    width: 200px; /* Початкова ширина */
    min-width: 50px; /* Мінімальна ширина */
    transition: all 300ms ease-in-out;
}

.menu__container.close{
    width: 45px;
    padding: 5px;
    height: 100vh; /* Забезпечуємо однакову висоту */
    overflow: hidden; /* Запобігає зайвому прокручуванню */
}

.menu_arrow{
    margin-left: auto;
    padding: 10px;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

.menu__item.arrow{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.menu__icon_arrow{
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    transition: 300ms ease-in-out;
    user-select: none;
    
}
.menu__icon_arrow.close{
    transform: rotate(180deg);
    transition: 300ms ease-in-out;
}

.menu__list{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    transition: 300ms ease-in-out;
}

.menu__item{
    transition: all ease 0.5s;
    cursor: pointer;
}

.menu__item:hover{
    background-color: #0c65b9;
    border-radius: 10px;
}

.menu__item.selected{
    background-color: #0a569e;
    border-radius: 10px;
}
.menu__icon{
    width: 25px;
    height: 25px;
    margin-right: 1em;
    user-select: none;
}
.menu__link {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    padding: 1em;
    transition: 300ms ease-in-out;
}

.menu__container.close .menu__link {
    padding-left: 12px;
}

/* ============================================== */
.student_table{
    margin-left: 3vw;
    margin-right: 1vw;
    width: 100%;
}
.student_table__control{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.describe__heading {
    margin-bottom: 0;
    color: #101828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}
.descpibe__paragraph {
    margin-top: 0.5rem;
    color: #667085;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.table__add_student {
    background-color: #0d7de6;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 5px;
    gap: 8px;
    margin: 10px;
    transition: all ease-in-out 0.2s;
}
.table__add_student:hover{
    background-color: #0c65b9;
}

.add_student_plus {
    width: 20px;
    height: 20px;
    user-select: none;
}
.add_student_describe {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

/* ============================================== */
.main_table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1rem;
    overflow-x: auto;
}

.main_table thead tr{
    border-bottom: 1px solid #EAECF0;
    background: #f9f9fd;
    color: #667085;
    font-size: 1rem;
    font-style: normal;
    line-height: 18px; 
}

.main_table th{
    padding: 0.5rem;
    text-align: center;
    font-weight: 450;
    /*padding: 12px 24px;*/
}

.main_table tbody tr{
    border-bottom: 1px solid #EAECF0;
}

.main_table td{
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    padding: 0.5rem;
    text-align: center;
}

.table__active_cirtle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9c9c9c;
    display: inline-block;
}

.table__active_cirtle.active{
    background-color: #31f044;
}

.table__icon.active{
    cursor: pointer;
    opacity: 1;
}
.table__icon{
    width: 30px;
    height: 30px;
    cursor: not-allowed;
    opacity: 0.3;
    user-select: none;
}
.table__icon.active:hover{
    /*filter: drop-shadow(0 0 2px rgba(88, 111, 244, 0.5));*/
    background-color: #eeefff;
    border-radius: 5px;
}

.table__cell_control{
    display: flex;
    justify-content: center;
}
